<!DOCTYPE html>
<html>
<head>
    <meta chareset = "utf8">
    <title>FINGQOOQ</title>
    <link rel="stylesheet" type="text/css" href="/main.css" >
</head>

<body>
    <div class = "control_bar">
        <section id = "menuBar">
            <header>
                <h1>
                    <span class="header_fingqooq">FINGQOOQ</span>
                </h1>
            </header>
            <nav data-tour-id="menuBarNav">
                <ul>
                    <li class>
                        <a href = "fingqooq/mymusic">
                            <i class = "mymusic"></i>
                            <span>My Music</span>
                        </a>
                    </li>
                    <li class>
                        <a href = "fingqooq/firend">
                            <i class = "friend"></i>
                            <span>Friend</span>
                        </a>
                    </li>
                    <li class>
                        <a href = "fingqooq/recommend">
                            <i class = "recommend"></i>
                            <span>Recommend</span>
                        </a>
                    </li>
                    <li class>
                        <a href = "fingqooq/favorite">
                            <i class = "favorite"></i>
                            <span>Favorite</span>
                        </a>
                    </li>
                    <li class>
                        <a href = "fingqooq/settings">
                            <i class = "settings"></i>
                            <span>Setting</span>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    <div class = "contents_box">
        <div id ="recommendBar">
            <a href="fingqooq.com/recommendList">
                <h1>recommend</h1>
            </a>
           <ul class = "recommendList">
                <li class = "recommendList">
                    <a href="fingqooq.com/seotaji12">
                        <img src = "http://sohotonasia.files.wordpress.com/2008/10/080814_p14_seotaiji.jpg" width="200" height="200">
                    </a>
                </li>
               <li class = "recommendList">
                    <a href="fingqooq.com/seotaji13">
                        <img src = "http://c.ask.nate.com/imgs/qrsi.php/6087290/8170577/0/1/A/%EC%84%9C%ED%83%9C%EC%A7%80.jpg" width="200" height="200">
                    </a>
                </li>
               <li class = "recommendList">
                    <a href="fingqooq.com/seotaji12">
                        <img src = "http://pds19.egloos.com/pds/201006/09/94/d0029094_4c0f8205ea806.jpg" width="200" height="200">
                    </a>
                </li>
            </ul>
        </div>

        <div id = "hot">
            <a href="fingqooq.com/HOT">
                <h1>HOT</h1>
            </a>
            <ul class = "hotList">
                <li class="hotList">
                    <a href="fingqooq.com/seotaji12">
                        <img src = "http://sohotonasia.files.wordpress.com/2008/10/080814_p14_seotaiji.jpg" width="200" height="200">
                    </a>
                </li>
                <li class="hotList">
                    <a href="fingqooq.com/seotaji13">
                        <img src = "http://c.ask.nate.com/imgs/qrsi.php/6087290/8170577/0/1/A/%EC%84%9C%ED%83%9C%EC%A7%80.jpg" width="200" height="200">
                    </a>
                </li>
                <li class="hotList">
                    <a href="fingqooq.com/seotaji12">
                        <img src = "http://pds19.egloos.com/pds/201006/09/94/d0029094_4c0f8205ea806.jpg" width="200" height="200">
                    </a>
                </li>
            </ul>
        </div>

        <div id = "newSongs">
            <a href="fingqooq.com/HOT">
                <h1>New Songs</h1>
            </a>
            <ul class = "newList">
                <li class="newList">
                    <a href="fingqooq.com/seotaji12">
                        <img src = "http://sohotonasia.files.wordpress.com/2008/10/080814_p14_seotaiji.jpg" width="200" height="200">
                    </a>
                </li>
                <li class="newList">
                    <a href="fingqooq.com/seotaji13">
                        <img src = "http://c.ask.nate.com/imgs/qrsi.php/6087290/8170577/0/1/A/%EC%84%9C%ED%83%9C%EC%A7%80.jpg" width="200" height="200">
                    </a>
                </li>
                <li class="newList">
                    <a href="fingqooq.com/seotaji12">
                        <img src = "http://pds19.egloos.com/pds/201006/09/94/d0029094_4c0f8205ea806.jpg" width="200" height="200">
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class = "footer">
        <div class ="footer_clear">
            <div class = "left_introduce">
                <ul class = "introduce">
                    <li>
                        @FINGQOOQ Inc. 2013
                        <span class = "middot">.</span>
                    </li>
                    <li>
                        <a href = "fingqooq.com/about">about</a>
                        <span class = "middot">.</span>
                    </li>
                    <li>
                        <a href = "fingqooq.com/team">team</a>
                        <span class = "middot">.</span>
                    </li>
                    <li>
                        <a href = "fingqooq.com/help">help</a>
                        <span class = "middot">.</span>
                    </li>
                    <li>
                        <a href = "fingqooq.com/contact">contact</a>
                        <span class = "middot">.</span>
                    </li>
                </ul>
            </div>
            <div class = "right_snsbutton">
                <ul class = "snsbutton">
                    <li>
                        <a class = "fb_icon" href="http://www.facebook.com/fingqooq"></a>
                    </li>
                    <li>
                        <a class = "tw_icon" href="http://www.twitter.com/fingqooq"></a>
                    </li>
                    <li>
                        <a class = "blog_icon" href="http://www.fingqooqTeam.com"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
